@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat-VariableFont_wght.ttf') format('truetype');
}

* {
  font-family: 'Montserrat';
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body::before {
  background-color: #fcfcfc;
  opacity: 0.1;
  background-image: linear-gradient(#000000 1px, transparent 1px),
    linear-gradient(to right, #000000 1px, #fcfcfc 1px);
  background-size: 20px 20px;
}

div {
  color: black;
  opacity: 1 !important;
  margin-top: 30px;
  margin-bottom: 30px;
}

.top-container {
  width: 80%;
  margin: auto;
  font-size: x-large;
}

.side_bar {
  z-index: 1;
  top: 0;
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.side_bar a {
  font-size: 1.5rem ;
  display: block;
  color: black;
  padding: 16px;
  text-decoration: wavy underline 1.5px;
}

.side_bar a:hover:not(.logo) {
  color: white;
  background-color: orange;
}

button {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
button:after {
  content: "";
  background-color: orange;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

button:hover:after {
  top: 0px;
  left: 0px;
}

footer {
  bottom: 0;
}

button.dark_switch {
  
}

@media (min-width: 768px) {
  button {
    padding: 13px 50px 13px;
  }
}
