@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat-VariableFont_wght.ttf') format('truetype');
}

* {
  font-family: 'Montserrat';
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

main {
  margin-left: 250px;
  padding: 1px 16px;
  color: black;
}

div {
  margin-bottom: 30px;
  margin-top: 30px;
}

table {
  border: 1px solid black;
  background-color: orange;
}

td {
  background-color: whitesmoke;
  font-weight: 400;
  font-size: 1.1rem;
  padding: .4em 1em;
  text-align: left;
  border: 1px solid black;
}

td:hover {
  background-color: rgb(255, 210, 127);
}

.menutop {
  font-weight: 300;
}

#weeklymenu {
  margin-bottom: 20px;
}

.top-container {
  width: 80%;
  margin: auto;
  font-size: x-large;
}

.mid-container {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
}

.side_bar {
  z-index: 1;
  top: 0;
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.side_bar a {
  font-size: 1.5rem;
  display: block;
  color: black;
  padding: 16px;
  text-decoration: wavy underline 1.5px;
}

.side_bar a:hover:not(.logo) {
  color: white;
  background-color: orange;
}

button {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:after {
  content: '';
  background-color: orange;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

button:hover:after {
  top: 0px;
  left: 0px;
}

.checkdiv {
  display: flex;
  justify-content: center;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 40px;
  height: 16px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

footer {
  margin-top: 35px;
  bottom: 0;
  height: 100px;
}

.mapcontainer {
  display: flex;
  justify-content: center;
}

#map {
  height: 40dvh;
  width: 60%;
  border: 1px solid black;
}


@media (min-width: 768px) {
  button {
    padding: 13px 50px 13px;
  }
}

/* On screens that are less than 1125px wide, make the sidebar into a topbar */
@media screen and (max-width: 1125px) {
  .side_bar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .side_bar a {
    float: left;
  }
  main {
    margin-left: 0;
  }
  #map {
    height: 40dvh;
    width: 80%;
    border: 1px solid black;
  }

}

@media screen and (max-width: 700px) {
  td {
    padding: 10px;
    font-size: 0.8rem;
  }
  #map {
    height: 40dvh;
    width: 100%;
    border: 1px solid black;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 610px) {
  .side_bar a {
    text-align: center;
    float: none;
  }

  td {
    padding: 5px;
    font-size: 0.7rem;
  }
}

/*Dark mode*/

body.dark {
  background-color: #161616;
  color: white;
}

body.dark div {
  color: whitesmoke;
}

body.dark footer {
  color: whitesmoke
}

body.dark dialog {
  color: whitesmoke;
}

body.dark .side_bar {
  background-color: #111;
}

body.dark .side_bar a {
  color: white;
}

body.dark table {
  border-color: orange;
}

body.dark td {
  background-color: #222222;
  border-color: orange ;
}

body.dark td:hover {
  color: black;
  background-color: rgb(255, 210, 127);
}

body.dark dialog {
  background-color: #222222;
}

body.dark button {
  border-color: white;
}

body.dark .leaflet-popup-content{
  color: black !important;
}

